#tabvlt, #tabvlt *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: $text;
	text-decoration: none;
	font-variant: normal;
	font-style: normal;
	text-align: left;
	width: auto;
	height: auto;
	font: normal 12px 'Segoe UI',
		Frutiger, 'Frutiger Linotype',
		'DejaVu Sans', Helvetica,
		FreeSans, 'Gargi_1.7',
		Arial, sans-serif;
}

#tabvlt div,#tabvlt span,#tabvlt img,#tabvlt p,#tabvlt a,#tabvlt h4,#tabvlt form{
	background: none;
	border: none;
	outline: none;
}

#tabvlt div{
	display: block;
	height: auto;
	vertical-align: inherit;
}
#tabvlt_ov{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	background: rgba(0,0,0,0);
	-o-transition: background-color 0.6s;
}

#tabvlt_ov.active{
	background: rgba(0,0,0,$overlay_opacity);
}

#tabvlt{
	position: absolute;
	top: 0;
	right: -260px;
	width: 260px;
	height: 100%;
	
	border-left: 1px solid $panel_border;
	background: $panel_background;
	-o-transition: right 0.5s;
}

#tabvlt_ov.active #tabvlt{
	right: 0;
}

div#tabvlt_bar{
	height: 33px;
	background: -o-skin('Hotlist Selector Skin.top');
	border-bottom: 1px solid $buttons_border;
}

#tabvlt .panel{
	clear: both;
	padding: 3px 0;
	display: none;
	overflow: auto;
}

#tabvlt .panel.active{
	display: inherit;
}

#tabvlt .btn{
	display: inline-block;
	float: right;
	height: 32px;
	min-width: 30px;
	padding: 5px 6px;
	background: rgba(0,0,0,0);
	-o-transition: background-color 0.15s;
}

#tabvlt .btn span:first-of-type{
	display: inline-block;
	width: 22px;
	height: 22px;
}

#tabvlt .btn:hover{
	background: rgba(0,0,0, 0.05);
}

#tabvlt .btn.active{
	height: 33px;
	background-image: -o-skin('Selector Button Skin.top.selected');
}

#tabvlt .btn.active:hover,
#tabvlt_trashicon.drop{
	background-color: rgba(0,0,0, 0.12);
}

#tabvlt .btn.add{
	padding: 5px 16px 0 5px;
	float: left;
}

#tabvlt .btn.add span:first-of-type{
	background: -o-skin('New page');
}

#tabvlt .btn.add .text{
	position: relative;
	top: -5px;
	margin-left: 4px;
}

#tabvlt .btn.main span{
	background: -o-skin('Panel Windows');
}

#tabvlt .btn.settings span{
	background: -o-skin('Panel Info');
}

#tabvlt_trashicon span{
	background: -o-skin('Trash Large');
}

#tabvlt_trashicon:hover span,
#tabvlt_trashicon.drop span{
	background: -o-skin('Trash Large.hover');
}

#tabvlt_trashicon.active span{
	background: -o-skin('Trash Large.selected');
}

#tabvlt_trashicon.empty span{
	opacity: 0.6;
	background: -o-skin('Trash Large.disabled');
}

#tabvlt_trashicon.empty:hover{
	background: rgba(0,0,0,0);
	cursor: default;
}

#tabvlt_tablist {
	padding-bottom: 6px;
}

#tabvlt .tab{
	margin: 2px 4px;
	padding: 2px 2px 0px 2px;
	min-height: 38px;
	border-radius: 4px;
}

#tabvlt .tab,
#tabvlt_trash .trash{
	background: $tab_background;
	border: 1px solid $tab_border;
	box-shadow: inset 0 1px 1px $tab_highlight;
	-o-transition: opacity 0.2s, background-color 0.2s;
}

#tabvlt .tab:hover,
#tabvlt_drag .tab,
#tabvlt_trash .trash:hover{
	border-color: $tab_border_hover;
	background: $tab_background_hover;
    cursor: pointer;
}
#tabvlt .tab .icon,
#tabvlt_trash .icon{
	display: inline-block;
	margin: 0 4px 0 1px;
    width: 16px;
    height: 16px;
}

#tabvlt .tab .icon.missing,
#tabvlt_trash .icon.missing{
	background: -o-skin('Window Document Icon');
}

#tabvlt .tab .title,
#tabvlt .tab .url,
#tabvlt_trash .trash{
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#tabvlt .tab .title{
	max-width: 220px;
	font-size: 13px;
}

#tabvlt .min .tab .title{
	max-width: 206px;
}

#tabvlt .tab .url{
	margin-left: 2px;
	max-width: 226px;
	color: $tab_url;
}

#tabvlt .min .tab .url{
	max-width: 210px;
}

#tabvlt .tab .close{
	float: right;
	display: block;
	width: 17px;
	height: 16px;
	margin-left: -16px;
	background: -o-skin('Pagebar Close Button Skin');
}

#tabvlt .tab .close:hover,
#tabvlt_drag.trash .tab .close{
	background: -o-skin('Pagebar Close Button Skin.hover');
}

#tabvlt .tab .close:active{
	background: -o-skin('Pagebar Close Button Skin.pressed');
}

#tabvlt .tab.drag{
	opacity: 0;
}

#tabvlt_drag .tab{
	position: absolute;
	box-shadow: none;
}

#tabvlt_drag>div{
	-o-transition: opacity 0.25s;
	opacity: 0;
}

#tabvlt_drag .page,
#tabvlt_drag .trash{
	position: fixed;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 0 12px #000;
}

#tabvlt_drag .trash{
	top: 2px;
	right: 2px;
	width: 30px;
	height: 29px;
}

#tabvlt_drag .page>div,
#tabvlt_drag .trash>div{
	height: 100%;
	border: 1px solid #fff;
	border-radius: 4px;
}

#tabvlt_drag.list .tab,
#tabvlt_drag.trash .trash,
#tabvlt_drag.page .page{
	opacity: 1;
    cursor: pointer;
}

#tabvlt_drag.trash .tab{
	opacity: 0.3;
	border-color: red;
}

#tabvlt_drag .info {
    box-sizing: content-box;
    background: $drop_info_background;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

#tabvlt_drag .info div,
#tabvlt_infotitle{
   color: $drop_info_text;
   text-align: center;
   font-size: 1.2em;
}

#tabvlt_infotitle{
    font-weight: bold;
    margin-bottom: 0.4em;
}

body>#tabvlt_infotitle{
    display: inline;
}

#tabvlt_trash .empty,
#tabvlt_trashlist + div{
	display: block;
	margin: 0 8px 6px;
	padding: 2px 0 4px;
	border-bottom: 1px groove $divider;
	font-size: 14px;	
}

#tabvlt_trash .empty a{
	-o-transition: color 0.2s;
}

#tabvlt_trash .empty a:hover{
	color: $link_hover;
}

#tabvlt_trash .trash{
	display: block;
	margin: 0 4px;
	padding: 3px 3px 0;
	min-height: 24px;
	border-bottom-width: 0;
}

#tabvlt_trash .trash:first-of-type{
	border-radius: 4px 4px 0 0;
}

#tabvlt_trash .trash:last-of-type{
	border-bottom-width: 1px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#tabvlt_trash .trash .title{
	margin-left: 4px;
	vertical-align: top;
}

#tabvlt h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 2px 6px;
    border-bottom: 1px groove $divider;
}

#tabvlt p {
    margin: 4px;
}

#tabvlt label {
	vertical-align: baseline;
}

#tabvlt input {
    margin: 3px 3px 3px 4px;
    padding: 1px;
    font-size: 13px;
    cursor: pointer;
}
#tabvlt button {
    padding: 1px 8px;
    text-align: center;
    font-size: 13px;
}

#tabvlt_import{
	width: 100%;
	height: 100px;
	padding: 2px;
}